* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* for touch screen */
  touch-action: none;
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#typing-top {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: white;
  border-right: 2px solid white;
  animation: blink 0.8s step-end infinite;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 30px;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

#drag-container,
#spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover,
#drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(
    center center,
    farthest-side,
    #9993,
    transparent
  );
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

.container-swipe-icon {
  display: block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg#icon-swipe {
  width: 72px;
  height: 35px;

  #hand {
    fill: #f07d00;
    transform-origin: 50% 100%;
    animation: hand-swipe 2.5s infinite ease;
  }
  #left,
  #right {
    fill: #f07d00;
    opacity: 0;
  }
  #right {
    animation: arrow-right 2.5s infinite ease;
  }
  #left {
    animation: arrow-left 2.5s infinite ease;
  }
}

@keyframes hand-swipe {
  5% {
    transform: translateX(3px) rotate(6deg);
  }
  25% {
    transform: translateX(0px) rotate(0deg);
  }
  28% {
    transform: translateX(0px) rotate(0deg);
  }
  33% {
    transform: translateX(-3px) rotate(-6deg);
  }
  53% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes arrow-right {
  7% {
    transform: translateX(8px);
    opacity: 1;
  }
  17% {
    transform: translateX(10px);
    opacity: 0;
  }
  18%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes arrow-left {
  0%,
  30% {
    transform: translateX(0);
    opacity: 0;
  }
  37% {
    transform: translateX(-8px);
    opacity: 1;
  }
  47% {
    transform: translateX(-10px);
    opacity: 0;
  }
  48%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
